# Begin by ignoring everything (just in case).
*

# Include application files.
!app/accounts
!app/app
!app/bot
!app/lottery
!app/banking
!app/scheduler
!app/static
!app/staticfiles
!app/manage.py
!app/run.sh

# Include build files.
!pyproject.toml
!poetry.lock
!entrypoint.sh
