{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
  <title>Con Yappa | Investors</title>
</head>
<body>
  <header>
    <div class="container">
      <img src="{% static 'img/logo.svg' %}" class="logo"/>
      <nav>
        <ul>
          <li><a href="#problema">El problema</a></li>
          <li><a href="#propuesta">La propuesta</a></li>
          <li><a href="#yappabot">YappaBot</a></li>
          <li><a href="#equipo">El equipo</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="ahorra-con-yappa">
      <h1>Ahorra Con Yappa y participa por hasta <strong>$100 mil cada semana</strong>.</h1>
            <a href="#yappabot">Empezar a ganar</a>
            <a href="#resumen">Cuéntame más ↓</a>
    </div>

    <div class="rect1">
      <img src="{% static 'img/blue_pig.svg' %}" class="rect1-pig">
      <div class="rect1-container">
        <p>Con Yappa es una cuenta de ahorro que, además de generar intereses,
        ofrece la posibilidad de ganar premios sorteados al azar, tal como en una lotería.</p>
      </div>
    </div>

    <div class="steps-container" id="resumen">
      <div class="wrapper">
        <ul>
          <li><img src="{% static 'img/transfiere.svg' %}"><strong>Transfiere</strong> tus ahorros.</li>
          <li><img src="{% static 'img/participa.svg' %}"><strong>Participa</strong> en los sorteos.</li>
          <li><img src="{% static 'img/gana.svg' %}"><strong>Gana</strong> hasta $100 mil cada semana.*</li>
          <li><img src="{% static 'img/retira.svg' %}"><strong>Retira</strong> tus ahorros cuando quieras.</li>
        </ul>
        <p>*Tus probabilidades de ganar aumentan
con la cantidad de dinero que tengas ahorrado.</p>
      </div>
    </div>

    <div class="rect2" id="problema">
      <div class="rect2-container">
        <h2>El problema</h2>
        <p >En Chile, la tasa de ahorro es solamente del 8,94%. De este ahorro, el 94% es obligatorio (AFP). <strong>La mitad de los ahorrantes presenta un saldo inferior a 25 mil pesos</strong> y solo un cuarto de ellos dispone de ahorros superiores a los 315 mil.<br><br>En contraste, más de dos tercios de los chilenos han comprado alguna vez un boleto de lotería y <strong>uno de cada tres adultos declaran ser jugadores regulares.</strong></p>
      </div>
      <img src="{% static 'img/green_pig.svg' %}" class="rect2-pig">
    </div>

    <div class="rect3" id="propuesta">
      <div class="rect3-container">
        <h2>La propuesta de valor</h2>
        <p >Queremos <strong>motivar el ahorro</strong> transformándolo en un juego y logrando el efecto opuesto a los instrumentos tradicionales, que son extremadamente fomes.

            <br><br>El que ahorra Con Yappa tiene la posibilidad de sumar premios <strong>todos los días</strong>, recibiendo así una frecuente gratificación. Adicionalmente, ofrecemos tasas esperadas mayores a las que nuestro público objetivo puede acceder.
            </p>
      </div>
      <img src="{% static 'img/pig.svg' %}" class="rect3-pig">
    </div>

    <div class="rect4" id="yappabot">
      <div class="rect4-container">
        <h2>
          YappaBot
        </h2>
        <p>
          Prueba nuestro YappaBot de Telegram y comienza a ahorrar Con Yappa. Inscríbete ahora y te regalaremos un boleto equivalente a $5.000 ahorrados para tu primer sorteo.
        </p>
        <a href="https://t.me/ConYappaBot">Únete Aquí</a>
      </div>
      <img src="{% static 'img/pig.svg' %}" class="rect4-pig">
    </div>

    <div class="rect5">
      <img src="{% static 'img/blue_pig.svg' %}" class="rect5-pig">
    </div>

      <div class="equipo-container" id="equipo">
        <h2>El equipo</h2>
        <div class="perfiles-container">
          <div class="aapt">
            <img src="{% static 'img/aapt.png' %}">
            <p><strong>Alex Apt</strong><br>CEO<br>alex@conyappa.cl</p>
          </div>
            <div class="amartinez">
              <img src="{% static 'img/amartinez.png' %}">
              <p><strong>Ariel Martínez</strong><br>CTO<br>ariel@conyappa.cl</p>
            </div>
          </div>
      </div>
    </div>
</body>
</html>
