@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

body {
  margin: 0;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 21px 0;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px 25px;
  position: relative;
}

nav li:not(:last-child) {
  border-right: solid 1px #707070;
}

nav a {
  font-weight: bold;
  font-size: 28px;
  color: #343457;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

.rect1 {
  background-color: #88eab7;
  position: relative;
  top: 50px;
  left: 0px;
  right: 0px;
  height: 350px;
  transform: skewY(-9deg);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 70px;
  color: #343457;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: lighter;
  color: #343457;
}

a {
  cursor: pointer;
}

.rect1-pig {
  fill: #343457;
  transform: skewY(9deg) rotate(-5deg) scale(1.2) translate(-50px, 90px);
}

.rect1-container {
  width: 1500px;
  transform: skewY(9deg) rotate(-9deg);
}

.rect1 p {
  font-size: 40px;
}

.ahorra-con-yappa {
  width: 1000px;
  margin-left: 5%;
  margin-top: 175px;
}

.ahorra-con-yappa h1 {
  font-weight: lighter;
  font-size: 65px;
  color: #343457;
}

.ahorra-con-yappa form {
  display: inline;
}

.ahorra-con-yappa a {
  background-color: #343457;
  border: none;
  border-radius: 24px;
  opacity: 1;
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  font-weight: lighter;
  color: #fdfeff;
  padding: 12px 35px;
  margin-right: 50px;
  display:inline;
}

.ahorra-con-yappa a:focus {
  outline: none;
}

.steps-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


.steps-container ul {
  list-style: none;
}

.steps-container p {
  margin-left: 50px;
}
.steps-container li {
  font-family: Helvetica, sans-serif;
  color: #343457;
  font-size: 54px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.steps-container li img {
  margin-right: 25px;
}

.steps-container p {
  color: #343457;
  font-family: Helvetica, sans-serif;
  font-size: 38px;
  width: 800px;
}

.steps-container ul li strong {
  margin-right: 15px;
}

.rect2 {
  height: 1250px;
  left: 0;
  right: 0;
  background-color: #88eab7;
  transform: skewY(15deg);
  margin-top: 100px;
}

.rect2-container {
  transform: skewY(-15deg);
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin-left: 200px;
  margin-top: 150px;
}

.rect2-pig {
  transform: translate(1400px, -700px) scale(0.75) skewY(-15deg) scaleX(-1) rotate(-20deg) ;
}

.rect3 {
  background-color: white;
  height: 1100px;
  left: 0;
  right: 0;
  transform: skewY(-15deg);
  position: absolute;
  top: 2400px;
}

.rect3-container {
  transform: skewY(15deg);
  margin-left: 750px;
  width: 1000px;
  margin-top: 250px;
}

.rect3-pig {
  transform: translate(200px, -930px) skewY(15deg) rotate(-5deg);
}

.rect4 {
  height: 700px;
  background-color: #88eab7;
  transform: skewY(-13deg);
  margin-top: 300px;
}

.rect4-container {
  transform: skewY(13deg);
  width: 710px;
  margin-left: 250px;
  padding-top: 130px;
}

.rect4 a {
  background-color: #343457;
  border: none;
  border-radius: 24px;
  opacity: 1;
  font-family: Helvetica, sans-serif;
  font-size: 28px;
  font-weight: lighter;
  color: #fdfeff;
  padding: 12px 35px;
}

.rect4 a:focus {
  outline: none;
}
.rect4-pig {
  transform: skewY(13deg) translate(1100px, -350px);
}

.rect5 {
  background-color: #343457;
  height: 70px;
  left: 0;
  right: 0;
  transform: skewY(14deg);
  position: absolute;
  top: 3100px;
}

.rect5-pig {
  transform: translate(1500px, -270px)skewY(-14deg) scaleX(-1) rotate(-20deg) scale(0.75);
}


.equipo-container {
  float: right;
  padding-bottom: 200px;
}

.perfiles-container {
  display: flex;
  flex-direction: row;
}

.aapt, .amartinez {
  display: flex;
  flex-direction: column;
  margin-right: 150px;
}

.equipo-container p {
  text-align: center;
}

/* @media screen and (max-width: 768px) {
  .rect1-container p {
    font-size: 16px !important;
  }
} */
